section.sec0 {
    width: 100%;
    height: 300px;
    background: url("../img/section_img/bg.png") center center no-repeat;
    background-size: cover;
    overflow: hidden;
}
.subSectionBtn {
    display: flex;
    width: 100%;
    height: 60px;
    position: absolute;
    left: 0;
    bottom: 0;
}
.sec0 button {
    width: 50%;
    height: 100%;
    border: none;
    background: var(--main-whiteyellow-color);
    cursor: pointer;
    transition: all 0.3s;
}
.sec0 button a{
    display: block;
    line-height: 60px;
    width: 100%;
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 0.8rem;
}
.sec0 button:hover,
.sec0 button.on {
    background: var(--section-bg-color);
    color: var(--main-red-color);
}

.subContainer {
    background: var(--section-bg-color);
}
section h2 {
    margin: 20px 0;
}
.red {
    color: var(--main-red-color);
}
.sectionTitle{
    font-size: 1.2em;
}
.sectionTitle:nth-of-type(2):after {
    content: "";
    width: 280px;
}
/*sub3*/
.subText li {
    font-size: 0.9em;
    text-align: start;
    padding: 5px 0;
}
form {
    min-width: 290px;
    padding: 24px;
    background: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
input {
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 0;
    outline: none;
    text-align: end;
    padding-right: 10px;
}
input[type="tel"] {
    width: 130px;
    margin: 20px 0;
}
input[type="submit"] {
    padding-right: 0;
    background: var(--main-red-color);
    color: #fff;
    width: 200px;
    text-align: center;
}
.subText {
    background: var(--main-bg-color);
    padding: 20px;
}
.subText > ol > li {
    list-style: decimal  inside;
    font-weight: 500;
}
.subText ol li ul li {
    font-size: 0.8em;
    font-weight: 400;
    list-style-type: '-';
    list-style-position: inside;
}

@media all and (min-width:768px) {
    .wrap {
        width: 80%;
        padding-bottom: 80px;
        margin-bottom: 100px;
    }
    .footerWrap {
        margin-bottom: 0;
    }
    .wrap section {
        width: 70%;
        margin: 0 auto;
    }
    .sectionTitle{
        font-size: 1.5em;
    }
    .subBtnContainer {
        flex-direction: row;
        width: 500px;
    }
    .subBtnContainer button{
        width: 40%;
        margin-right: 2%;
    }
    .subSectionBtn {
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
    }
    .sec0 button a{
        font-size: 1.2rem;
    }

    form div.input {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    input[type="text"],
    input[type="tel"]{
        margin-right: 15px;
    }
    .subText li {
        font-size: 1em;
    }
}
@media all and (min-width:1024px) {
    .wrap{
        width: 70%;
    }
    .subSectionBtn {
        width: 70%;
        max-width: 1200px;
    }
}